@import "bourbon";

.content-targeting-portlet {
	.add-field-bar {
		display: inline-block;
	}

	.channels-panel, .tracking-actions-panel {
		margin-top: 3em;

		.title-text {
			font-size: 18px;
		}
	}

	.definition-of-terms {
		dd {
			margin-left: 15em;
		}

		dl {
			margin-bottom: 15px;
		}
	}

	.form-builder {
		.form-builder-content {
			.form-builder-content-container {
				padding-left: 240px;
			}

			.tabbable {
				float: left;
				margin-left: 10px;
				position: relative;
				width: 260px;
			}

			.tabbable-content {
				> .nav {
					display: none;
				}

				.tab-content {
					.tab-pane {
						display: none;
						height: auto;
					}

					.tab-pane:first-child {
						display: block;
					}

					.form-builder-search-panels {
						padding: 0;

						.search-panels-input {
							@include border-top-radius(5px);
							@include border-right-radius(5px);
							@include border-bottom-radius(5px);
							@include border-left-radius(5px);

							margin-bottom: 0;
							width: 166px;
						}
					}
				}
			}

			.property-builder-fields-container {
				margin: 10px 0;
				overflow: hidden;

				.category-header {
					border-bottom: solid 1px #DDD;
					margin-right: 20px;
					overflow: hidden;
					padding: 5px 0;
					position: relative;

					.category-icon {
						background-color: #009AE5;
						color: #FFF;
						float: left;
						font-size: 28px;
						height: 34px;
						margin-right: 10px;
						padding: 5px;
						text-align: center;
						vertical-align: middle;
						width: 34px;
					}

					.category-info {
						line-height: 16px;
						margin-right: 30px;

						.category-title {
							color: #009AE5;
							font-size: 15px;
							font-weight: 400;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.category-description {
							color: #8D8D8D;
							font-size: 13px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}

					&:after{
						color: #009AE5;
						content: "\f054";
						font-family: "fontawesome-alloy";
						font-size: 14px;
						position: absolute;
						right: 10px;
						top: 0;
					}

					&.toggler-header-expanded:after {
						content: "\f078";
					}
				}

				.category-content {
					margin-right: 20px;
					padding-bottom: 15px;
					padding-left: 20px;
					padding-top: 15px;

					&.toggler-content-expanded {
						border-bottom: solid 1px #DDD;
					}
				}

				.category-wrapper:last-child {
					.category-content.toggler-content-expanded {
						border-bottom-width: 0;
					}
				}

				.property-builder-field {
					cursor: move;
					display: inline-block;
					float: none;
					height: inherit;
					margin-bottom: 25px;
					position: relative;
					text-align: left;
					width: 100%;

					&:hover {
						background-color: transparent;
						color: #009AE5;
					}

					&.unselectable {
						color: #AEAEAE;
					}

					:last-child {
						margin-bottom: 0;
					}

					.property-builder-field-icon {
						float: left;
						font-size: 20px;
						height: 20px;
						margin-right: 15px;
						margin-top: 5px;
						text-align: center;
						width: 20px;
					}

					.property-builder-field-label {
						font-size: 12px;
						line-height: 18px;
						margin-top: 3px;

						.field-title {
							font-size: 14px;
							font-weight: 500;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.field-description, .field-short-description {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.row {
							margin: 0;
						}
					}
				}
			}

			.property-builder-canvas {
				background-color: #F6F6F6;
				border-width: 1px;

				&.has-items {
					.alert-no-items {
						display: none;
					}
				}

				.alert-no-items {
					margin-left: 20px;
					margin-right: 20px;
					margin-top: 20px;
				}

				.property-builder-drop-container {
					height: auto;
					min-height: 500px;
					padding-bottom: 0;
				}

				.toolbar {
					display: block !important;
					right: -2px;
					top: 2px;

					.btn-group {
						button {
							display: none;
						}

						:last-child {
							background: transparent;
							border-width: 0;
							box-shadow: inherit;
							color: #CCC;
							display: inline-block;
							font-size: 16px;
						}

						.glyphicon-trash:before {
							content: "\f00d";
						}
					}
				}

				.form-builder-field {
					border: 1px solid #CCC;
					border-left-color: #999;
					border-left-width: 2px;
					border-radius: 0;

					box-shadow: inherit;

					margin: 30px;

					.form-builder-field-content {
						border-left: 2px dotted #CCC;
						margin: -8px;
						padding: 8px;

						> label:first-child {
							display: none;
						}

						.field-header {
							cursor: move;
							margin: 0 5px;
							position: relative;

							.field-icon {
								display: block;
								font-size: 30px;
								position: absolute;
								text-align: center;
								width: 35px;
							}

							.field-info {
								display: inline-block;
								margin-left: 45px;
							}

							.field-description, .field-short-description {
								font-size: 13px;
							}

							.field-title {
								font-size: 18px;
							}
						}

						.field-editor {
							margin: 30px 50px;
							border: 0px !important;
						}
					}
				}

				.form-builder-field-selected {
					border-color: rgba(0, 154, 229, 0.5);
					border-left-color: #009AE5;
					border-left-width: 5px;

					box-shadow: 0 3px 0 #E9E9E9;

					.form-builder-field-content {
						border-left-color: rgba(0, 154, 229, 0.5);
						padding-left: 5px;
					}

					.field-header, .btn-group :last-child {
						color: #009AE5;
					}
				}
			}
		}
	}

	.form-builder-field label {
		float: none;
	}

	.form-builder-search-panels {
		padding: 0 10px 14px;
		position: relative;

		.icon-search {
			left: 18px;
			position: absolute;
			top: 8px;
		}

		.cancel-search {
			color: #F88;
			display: none;
			margin-top: -1em;
			position: absolute;
			right: 15px;
			top: 50%;

			&:hover {
				color: #F55;
				text-decoration: none;
			}
		}

		.icon-search {
			display: none;
		}

		.search-panels-bar {
			position: relative;

			&:after {
				background: url(../../images/search_panel_icon.png) no-repeat 0 50%;
				color: #D4D4D4;
				content: '';
				display: block;
				font-size: 0;
				height: 18px;
				margin-left: 8px;
				margin-top: 6px;
				position: absolute;
				top: 0;
				width: 27px;
			}

			.control-group {
				margin: 0;

				.search-panels-input {
					border-color: #CACACA;
					margin-bottom: 0;

					&:focus {
						border-color: rgba(0, 172, 255, 0.8);
					}
				}
			}

			input {
				padding-left: 40px;
			}
		}
	}

	.search-panel-active .form-builder-search-panels .cancel-search {
		display: inline-block;
	}

	.report-description {
		margin-bottom: 3em;
	}

	input.slider-input {
		width: auto;
	}

	.slider-holder {
		display: inline-block;
		margin: 0 2em 0 .5em;
	}

	.user-segment-selector {
		margin-bottom: 35px;
	}
}