@import "bourbon";

.rules-panel {
	.lfr-form-row {
		border-color: #CCC;
		border-style: solid;
		border-width: 1px 1px 1px 2px;

		&.active {
			border-color: #009AE5;
			border-width: 1px 1px 1px 4px;

			box-shadow: 0 5px 0 -1px #DDD;

			.row-fields .field-row {
				border-left-color: #009AE5;
			}
		}

		&.first {
			border-width: 2px 1px 1px 1px;
		}

		&.last {
			border-width: 1px 1px 2px 1px;
		}

		&.active.first {
			border-width: 4px 1px 1px 1px;
		}

		&.active.last {
			border-width: 1px 1px 4px 1px;
		}

		.row-fields {
			padding: 0 5px;

			.field-row {
				border-left: dotted 2px #CCC;
				margin: 4px 0;
				padding: 10px 10px 10px 20px;
			}
		}
	}
}