.content-targeting-simulator {
	.button-holder {
		background-color: #FFF;
		bottom: 0;
		margin-bottom: 0;
		margin-top: 0;
		padding: 10px 15px;
		position: fixed;
	}

	.control-group {
		margin-bottom: 10px;
	}

	.campaign {
		.field {
			display: none;
		}
	}

	.category-wrapper {
		margin-bottom: 50px;

		.category-content {
			padding: 0px 10px;

			.element {
				border: 4px solid #213740 ;
				cursor: pointer;
				overflow: hidden;
				padding: 10px 5px;


				.flex-item-center {
					overflow: hidden;
					width: 100%;
				}
			}

			.matched {
				color: #FFF;
				background-color: #3A4D5A;
			}

			.not-matched {
				background-color: #1B2228;
			}
		}

		.category-header {
			margin-right: 20px;
			overflow: hidden;
			padding: 5px 0;
			position: relative;

			.category-info {
				line-height: 16px;
				margin-right: 30px;
			}

		}

		.pagination {
			text-align: center;
			width: 100%;

			li.pagination-control {
				margin-right: 25px;
			}

			.pagination-content {
				float: none;
			}
		}
	}

	.lfr-pagination-controls {
		display: none;
	}

	.search-panels {
		padding: 0;

		.search-panels-input {
			border-radius: 0;
			margin-bottom: 0;
		}
	}
}