/*/bin
/*/build.gradle
/*/classes
/*/ivy.xml.MD5
/*/javadoc
/*/lib
/*/test-classes
/*/test-results

/*/docroot/css/*/.sass-cache
/*/docroot/WEB-INF/classes
/*/docroot/WEB-INF/lib
/*/docroot/WEB-INF/liferay-hook.xml.processed

/ivy.idea.properties

sonar.*.properties

.gh.json

.idea/workspace.xml
.idea/rebel_project.xml
.idea/dataSources.*

.sonar
