*.iml
.gh.json
.sass-cache
.sass_cache_*.css
.sonar
/*/bin
/*/build
/*/classes
/*/coverage-reports
/*/docroot/css/*/.sass-cache
/*/docroot/WEB-INF/classes
/*/docroot/WEB-INF/lib
/*/javadoc
/*/lib
/*/pmd-reports
/*/test-classes
/*/test-coverage
/*/test-results
/*/*/build
/*/*/classes
/*/*/javadoc
/*/*/lib
/.idea
/benchmarks/output
/tools/*/classes
/tools/*/lib
sonar.*.properties