@import "bourbon";

.content-targeting-portlet {
	.form-builder {
		.form-builder-content {
			.tabbable-content {
				> .nav {
					display: none;
				}

				.tab-content {
					.tab-pane {
						display: none;
						height: auto;
					}

					.tab-pane:first-child {
						display: block;
					}
				}
			}

			.property-builder-fields-container {
				margin: 10px 0;
				overflow: hidden;

				.category-header {
					border-bottom: solid 1px #DDD;
					margin-right: 20px;
					overflow: hidden;
					padding: 5px 0;
					position: relative;

					.category-info {
						margin-right: 30px;

						.category-title {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.category-description {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}

					&:after {
						content: "\f054";
						font-family: "fontawesome-alloy";
						position: absolute;
						right: 10px;
						top: 10px;
					}

					&.toggler-header-expanded:after {
						content: "\f078";
					}
				}

				.category-content {
					margin-right: 20px;
					padding-bottom: 15px;
					padding-left: 15px;

					&.toggler-content-expanded {
						border-bottom: solid 1px #DDD;
					}
				}

				.category-wrapper:last-child {
					.category-content.toggler-content-expanded {
						border-bottom-width: 0;
					}
				}

				.property-builder-field {
					cursor: move;
					display: inline-block;
					float: none;
					height: inherit;
					position: relative;
					text-align: left;
					width: 100%;

					&:hover {
						background-color: transparent;
					}

					&.unselectable {
						color: #AEAEAE;
					}

					.property-builder-field-icon {
						display: none;
					}

					.property-builder-field-label {
						.field-title {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.field-description, .field-short-description {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
				}
			}

			.property-builder-canvas {
				&.has-items {
					.alert-no-items {
						display: none;
					}
				}

				.alert-no-items {
					margin-left: 20px;
					margin-right: 20px;
					margin-top: 20px;
				}

				.property-builder-drop-container {
					height: auto;
					min-height: 500px;
					padding-bottom: 0;
				}

				.btn-toolbar {
					display: block !important;

					.btn-group {
						button {
							display: none;
						}

						:last-child {
							background: transparent;
							border-width: 0;
							display: inline-block;
							font-family: "fontawesome-alloy";

							.glyphicon-trash:before {
								content: "\f00d";
							}
						}
					}
				}

				.form-builder-field {
					border: 1px solid #CCC;
					border-left-color: #999;
					border-left-width: 2px;
					border-radius: 0;
					box-shadow: inherit;
					margin: 10px;

					.form-builder-field-content {
						border-left: 2px dotted #CCC;
						margin: -8px;
						padding: 8px;

						> label:first-child {
							display: none;
						}

						.field-header {
							cursor: move;
							margin: 0 5px;
							position: relative;

							.field-info {
								display: inline-block;
								margin-left: 0;
							}
						}

						.field-editor {
							padding: 5px;
						}
					}
				}

				.form-builder-field-selected {
					border-left-width: 5px;
					box-shadow: 0 3px 0 #E9E9E9;

					.form-builder-field-content {
						padding-left: 5px;
					}
				}
			}
		}
	}

	.form-builder-field label {
		float: none;
	}

	.form-builder-search-panels {
		.search-icon {
			position: absolute;
			right: 16px;
			top: 8px;
		}
	}

	input.slider-input {
		border-width: 0;
		width: auto;
	}

	.lfr-search-container-wrapper {
		.list-group-item-content {
			.label:first-of-type {
				padding-left: 0;
			}
		}
	}

	.slider-holder {
		display: inline-block;
		margin: 0 2em 0 .5em;
	}

	.report-preview {
		margin-top: 20px;
	}

	.user-segment-selector {
		margin-bottom: 35px;
	}
}