@import "bourbon";
@import "mixins";

.user-segment-content-display-portlet, .campaign-content-display-portlet {
	&.portlet-borderless {
		.content-container .content-preview-container {
			margin-top: 23px;
		}
	}

	&:active, &:hover, &:focus, &.active {
		.visible-interaction-button {
			@include sm() {
				display: inherit;
			}
		}
	}

	.content-container {
		overflow: hidden;

		&.show-configuration {
			min-height: 65px;
		}
	}

	.content-preview-button {
		position: absolute;
		right: 5px;
		top: 5px;

		.btn-default {
			line-height: 1;
		}
	}

	.dropdown-menu-content {
		max-height: 310px;
		min-width: 280px;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 0;

		.list-group-item-content {
			position: relative;
		}

		li {
			border-bottom: 2px solid #DCE0E3;
			padding: 8px 4px;

			&.active, &:hover {
				background: #F7FAFA;
				border-bottom: 2px solid #65B3F0;

				.visible-interaction-content {
					display: inherit;
				}
			}

			&:last-child {
				border-width: 0;
			}

			.btn-edit-asset {
				padding: 8px;
			}

			.list-group-item-content a {
				padding: 8px 12px 8px 0;
			}

			.list-group-item-field {
				vertical-align: middle;
			}

			.sticker-lg {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: 100%;
			}

			.visible-interaction-content {
				display: none;
			}
		}
	}

	.portlet-content {
		position: relative;
	}

	.visible-interaction-button {
		@include sm() {
			display: none;
		}
	}
}

.controls-hidden {
	.user-segment-content-display-portlet, .campaign-content-display-portlet {
		.content-container.show-configuration {
		 	min-height: 0px;
		}
	}
}