/*/bin
/*/build.gradle
/*/classes
/*/coverage-reports
/*/ivy.xml.MD5
/*/javadoc
/*/lib
/*/pmd-reports
/*/test-classes
/*/test-coverage
/*/test-results

/*/docroot/css/*/.sass-cache
/*/docroot/WEB-INF/classes
/*/docroot/WEB-INF/lib
/*/docroot/WEB-INF/liferay-hook.xml.processed

/benchmarks/output

/tools/*/classes
/tools/*/lib

/ivy.idea.properties

sonar.*.properties

.gh.json

.idea/workspace.xml
.idea/rebel_project.xml
.idea/dataSources.*

.sonar
