.content-targeting-portlet {
	.add-field-bar {
		display: inline-block;
	}

	.form-builder {
		.form-builder-content {
			.form-builder-content-container {
				padding-left: 240px;
			}

			.tabbable {
				float: left;
				margin-left: 0;
				position: relative;
				width: 240px;
			}

			.tabbable-content {
				> .nav {
					display: none;
				}

				.tab-content {
					.tab-pane {
						display: none;
						height: auto;
					}

					.tab-pane:first-child {
						display: block;
					}

					.search-panels {
						padding: 0;

						.search-panels-input {
							border-radius: 0;
							width: 166px;
						}
					}
				}
			}

			.diagram-builder-fields-container {
				margin: 10px 0;
				overflow: hidden;

				.diagram-builder-field {
					height: inherit;
					position: relative;
					text-align: left;
					width: 100%;

					&:hover {
						background-color: transparent;
						color: #009ae5;
					}

					.diagram-builder-field-icon {
						display: block;
						font-size: 22px;
						padding: 10px;
					}

					.diagram-builder-field-label {
						font-size: 12px;
						left: 40px;
						line-height: 18px;
						position: absolute;
						top: 5px;

						.field-title {
							font-size: 14px;
							font-weight: 400;
						}

						.row {
							margin: 0;
						}
					}
				}
			}

			.diagram-builder-canvas {
				background-color: #f6f6f6;
				border: none;

				.diagram-builder-drop-container {
					height: auto;
					min-height: 500px;
					padding-bottom: 0;
				}

				.toolbar {
					display: block !important;
					right: -2px;
					top: 2px;

					.btn-group {
						button {
							display: none;
						}

						:last-child {
							background: transparent;
							border: none;
							box-shadow: inherit;
							color: #ccc;
							display: inline-block;
							font-size: 16px;
						}

						.icon-trash:before {
							content: "\f00d";
						}
					}
				}

				.form-builder-field {
					border: 1px solid #ccc;
					border-left-color: #999;
					border-left-width: 2px;
					border-radius: 0;
					box-shadow: inherit;
					margin: 30px;

					.form-builder-field-content {
						border-left: 2px dotted #ccc;
						margin: -8px;
						padding: 8px;

						> label:first-child {
							display: none;
						}

						.field-header {
							margin: 0 5px;
							position: relative;

							.field-icon {
								font-size: 35px;
								position: absolute;
								text-align: center;
								width: 35px;
							}

							.field-info {
								display: inline-block;
								margin-left: 45px;
							}

							.field-description {
								font-size: 13px;
							}

							.field-title {
								font-size: 18px;
							}
						}

						.field-editor {
							margin: 30px 50px;
						}
					}
				}

				.form-builder-field-selected {
					border-color: rgba(0, 154, 229, 0.5);
					border-left-color: #009ae5;
					border-left-width: 5px;
					box-shadow: 0 3px 0 #e9e9e9;

					.form-builder-field-content {
						border-left-color: rgba(0, 154, 229, 0.5);
						padding-left: 5px;
					}

					.field-header, .btn-group :last-child {
						color: #009ae5;
					}
				}
			}
		}
	}
}