.content-targeting-portlet {
	.add-field-bar {
		display: inline-block;
	}

	.form-builder {
		.form-builder-content {
			.form-builder-content-container {
				padding-left: 240px;
			}

			.tabbable {
				float: left;
				margin-left: 0;
				position: relative;
				width: 240px;
			}

			.tabbable-content {
				> .nav {
					display: none;
				}

				.tab-content {
					.tab-pane {
						display: none;
						height: auto;
					}

					.tab-pane:first-child {
						display: block;
					}

					.search-panels {
						padding: 0;

						.search-panels-input {
							border-radius: 0;
							margin-bottom: 0;
							width: 166px;
						}
					}
				}
			}

			.diagram-builder-fields-container {
				margin: 10px 0;
				overflow: hidden;

				.category-header {
					border-bottom: solid 1px #DDD;
					margin-right: 20px;
					padding: 5px 0;
					overflow: hidden;
					position: relative;

					.category-icon {
						background-color: #009AE5;
						color: #FFF;
						float: left;
						font-size: 30px;
						height: 34px;
						margin-right: 10px;
						text-align: center;
						vertical-align: middle;
						width: 34px;
					}

					.category-info {
						line-height: 16px;
						margin-right: 30px;

						.category-title {
							color: #009AE5;
							font-size: 15px;
							font-weight: 400;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.category-description {
							color: #8D8D8D;
							font-size: 13px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}

					&:after{
						color: #009AE5;
						content: "\f054";
						font-family: "fontawesome-alloy";
						font-size: 14px;
						position: absolute;
						right: 10px;
						top: 0;
					}

					&.toggler-header-expanded:after {
						content: "\f078";
					}
				}

				.category-content {
					margin-right: 20px;
					padding-bottom: 15px;
					padding-left: 40px;
					padding-top: 15px;

					&.toggler-content-expanded {
						border-bottom: solid 1px #DDD;
					}
				}

				.category-wrapper:last-child {
					.category-content.toggler-content-expanded {
						border-bottom: none;
					}
				}

				.diagram-builder-field {
					display: inline-block;
					float: none;
					height: inherit;
					margin-bottom: 25px;
					position: relative;
					text-align: left;
					width: 100%;

					&:hover {
						background-color: transparent;
						color: #009ae5;
					}

					&.unselectable {
						 color: #AEAEAE;
					}

					:last-child {
						margin-bottom: 0;
					}

					.diagram-builder-field-icon {
						font-size: 20px;
						float: left;
						height: 20px;
						margin-right: 15px;
						margin-top: 5px;
						text-align: center;
						width: 20px;
					}

					.diagram-builder-field-label {
						font-size: 12px;
						line-height: 18px;

						.field-title {
							font-size: 13px;
							font-weight: 500;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.field-description {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.row {
							margin: 0;
						}
					}
				}
			}

			.diagram-builder-canvas {
				background-color: #f6f6f6;
				border: none;

				.diagram-builder-drop-container {
					height: auto;
					min-height: 500px;
					padding-bottom: 0;
				}

				.toolbar {
					display: block !important;
					right: -2px;
					top: 2px;

					.btn-group {
						button {
							display: none;
						}

						:last-child {
							background: transparent;
							border: none;
							box-shadow: inherit;
							color: #ccc;
							display: inline-block;
							font-size: 16px;
						}

						.icon-trash:before {
							content: "\f00d";
						}
					}
				}

				.form-builder-field {
					border: 1px solid #ccc;
					border-left-color: #999;
					border-left-width: 2px;
					border-radius: 0;
					box-shadow: inherit;
					margin: 30px;

					.form-builder-field-content {
						border-left: 2px dotted #ccc;
						margin: -8px;
						padding: 8px;

						> label:first-child {
							display: none;
						}

						.field-header {
							margin: 0 5px;
							position: relative;

							.field-icon {
								font-size: 35px;
								position: absolute;
								text-align: center;
								width: 35px;
							}

							.field-info {
								display: inline-block;
								margin-left: 45px;
							}

							.field-description {
								font-size: 13px;
							}

							.field-title {
								font-size: 18px;
							}
						}

						.field-editor {
							margin: 30px 50px;
						}
					}
				}

				.form-builder-field-selected {
					border-color: rgba(0, 154, 229, 0.5);
					border-left-color: #009ae5;
					border-left-width: 5px;
					box-shadow: 0 3px 0 #e9e9e9;

					.form-builder-field-content {
						border-left-color: rgba(0, 154, 229, 0.5);
						padding-left: 5px;
					}

					.field-header, .btn-group :last-child {
						color: #009ae5;
					}
				}
			}
		}
	}
}