@import "bourbon";

.rules-panel {
	background-color: #EEE;
	margin: 10px;
	overflow: hidden;
	padding-bottom: 10px;

	.lfr-form-row {
		background-color: #FFF;
		border-color: #CCC;
		border-style: solid;
		border-width: 1px 1px 1px 2px;
		margin: 10px 10px 10px 30px;
		padding: 0;
		width: auto;

		&.active {
			border-color: #009AE5;
			border-width: 1px 1px 1px 4px;

			box-shadow: 0 5px 0 -1px #DDD;

			.row-fields .field-row {
				border-left-color: #009AE5;
			}

			.lfr-autorow-controls .toolbar-content .btn-content .icon {
				color: #009AE5;

				&.icon-minus {
					display: block;
				}
			}
		}

		&.first {
			border-width: 2px 1px 1px 1px;
		}

		&.last {
			border-width: 1px 1px 2px 1px;
		}

		&.active.first {
			border-width: 4px 1px 1px 1px;
		}

		&.active.last {
			border-width: 1px 1px 4px 1px;
		}

		.handle-sort-vertical {
			background: transparent;
			padding-left: 0;
		}

		.lfr-autorow-controls {
			bottom: auto;
			display: inline-block;
			right: auto;
			top: 5px;
			width: 100%;

			.toolbar-content .btn-content {
				background: transparent;
				border-width: 0;
				box-shadow: 0 0;
				font-size: 15px;
				padding: 0 0;

				&:hover {
					background-position: 0 0;
				}

				&.add-row {
					font-size: 18px;
					left: -25px;
					position: absolute;
					width: 18px;
				}

				&.delete-row {
					position: absolute;
					right: 10px;
				}

				.icon {
					color: #CCC;

					&.icon-plus:before {
						content: "\f055";
					}

					&.icon-minus {
						display: none;

						&:before {
							content: "\f00d";
						}
					}
				}
			}
		}

		.default-content {
			overflow: hidden;
			padding: 10px 10px 10px 23px;

			.full-view .radio {
				font-weight: 400;
			}

			.otherwise-text {
				font-size: 18px;
			}
		}

		.row-fields {
			padding: 0 5px;

			.field-row {
				border-left: dotted 2px #CCC;
				margin: 4px 0;
				padding: 10px 10px 10px 20px;
			}

			.query-contains-text, .query-and-operator-text, .query-content-text {
				font-weight: 400;
			}

			.query-contains-value, .query-and-operator-value, .query-content-value {
				color: #8D8D8D;
			}

			.query-content-value-type {
				font-size: 13px;
			}
		}
	}

	.select-asset-selector {
		.asset-preview {
			font-size: 13px;
			overflow: hidden;

			.asset-image {
				max-height: 55px;
			}

			.asset-title {
				font-weight: 400;
				margin-top: 6px;
			}

			.asset-type {
				color: #8D8D8D;
				font-weight: 400;
			}

			.column-content {
				padding-left: 0;
			}
		}

		.lfr-meta-actions {
			padding-top: 0;
		}
	}
}