<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Liferay Arquillian Deployer</display-name>

	<servlet>
		<servlet-name>arquillian-deploy</servlet-name>
		<servlet-class>com.liferay.arquillian.DeployerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>arquillian-deploy</servlet-name>
		<url-pattern>/arquillian-deploy</url-pattern>
	</servlet-mapping>
</web-app>