@import "compass";

.user-segment-content-display-portlet {
	.rules-panel {
		.undomanager {
			margin: 0 10px 0 30px;
		}

		.user-segment-selector {
			margin-bottom: 10px;
			margin-right: 10px;
			overflow: hidden;

			.tagselector-content {
				overflow: hidden;

				ul {
					margin: 10px 0;
				}
			}
		}
	}

	.title {
		font-size: 20px;
	}
}