.user-segment-content-list-portlet {
	.asset-entry {
		clear: both;

		.asset-actions {
			float: right;
			font-size: 11px;
			font-weight: normal;
			margin-bottom: 3px;
			margin-top: 0;
		}

		.asset-content {
			clear: right;
			margin-bottom: 10px;
			margin-left: 25px;
			margin-right: 10px;
		}

		.asset-title {
			border-bottom: 1px solid #DDD;
			margin-right: 8px;
			padding-bottom: 1px;
		}
	}
}